@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model WebProject.Models.ListObjectPlane;

<style>
    .btn-update {
    color: white;
    background-color: var(--red-color);
    }

    .btn-update:hover {
        color: white;
        background-color: #dc3545;
    }

/*end toast message [PROFILE]*/
</style>
<!-- Main content -->
<section class="content pt-4">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa-solid fa-plane-lock"></i>
                    Planes Management
                    </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="accordion">
                    <div class="card card-success">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                                    <i class="fa-solid fa-circle-plus"></i>
                                    Add a New Plane #1
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <form asp-controller="Plane" asp-action="Create">
                                <div class="card-body">
                                    <div class="row" style="margin:0">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputUsername">Registration Number of Plane (This section is optional)</label>
                                                <input class="form-control" id="inputUsername" type="text" placeholder="Enter plane Registration number" value="N12345">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="plane.PlaneModel" class="small mb-1">Plane Model</label>
                                                <input asp-for="plane.PlaneModel" class="form-control" type="text" />
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="plane.Capacity" class="small mb-1">Capacity of Plane</label>
                                                <input asp-for="plane.Capacity" class="form-control" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="plane.OwnerCompany" class="small mb-1">Owner Company</label>
                                                <select asp-for="plane.OwnerCompany" class="form-control select2" style="width: 100%;">
                                                    <option selected="selected" value="SkyJetEnterprises">SkyJet Enterprises</option>
                                                    <option value="AeroLinkInternational">AeroLink International</option>
                                                    <option value="HorizonAviationGroup">Horizon Aviation Group</option>
                                                    <option value="GlobalWingsCorporation">Global Wings Corporation</option>
                                                    <option value="CelestialAirwaysLtd.">Celestial Airways Ltd.</option>
                                                    <option value="StratosphereHoldings">Stratosphere Holdings</option>
                                                    <option value="ZenithFlightSolutions">Zenith Flight Solutions</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="plane.YearProduction" class="small mb-1">Year Production</label>
                                                <input asp-for="plane.YearProduction" class="form-control" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end d-flex align-items-center " style="margin:0">
                                        <div class="col-md-4 justify-content-end d-flex mt-4">
                                            <a asp-controller="Admin" asp-action="Index">
                                                <button class="btn btn-secondary ms-1">Cancel</button>
                                            </a>
                                            <button type="submit" class="btn  ms-1 btn-update">Add Plane</button>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
                                    <i class="fa-solid fa-eye"></i>
                                    View Planes Details #2
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="card" style="margin: 0;">
                                        <div class="card-body table-responsive p-0">
                                            <table class="table table-head-fixed text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th style="background-color: #19283f">ID</th>
                                                        <th style="background-color: #19283f">Model</th>
                                                        <th style="background-color: #19283f">Capacity</th>
                                                        <th style="background-color: #19283f">Production Year</th>
                                                        <th style="background-color: #19283f">Owner Company</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var plane in Model.ListOfPlanes)
                                                    {
                                                        <tr>
                                                            <td>@plane.PlaneID</td>
                                                            <td>@plane.PlaneModel</td>
                                                            <td>@plane.Capacity</td>
                                                            <td><span class="tag tag-success">@plane.YearProduction</span></td>
                                                            <td>@plane.OwnerCompany</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-danger">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                <a class="d-block w-100" data-toggle="collapse" href="#collapseTwo">
                                    <i class="fa-solid fa-trash-can"></i>
                                    Delete or Remove Planes #3
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="card" style="margin: 0;">
                                        <div class="card-body table-responsive p-0">
                                            <table class="table table-head-fixed text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th style="background-color: #19283f">#</th>
                                                        <th style="background-color: #19283f">Model</th>
                                                        <th style="background-color: #19283f">Capacity</th>
                                                        <th style="background-color: #19283f">Production Year</th>
                                                        <th style="background-color: #19283f">Action Field</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var plane in Model.ListOfPlanes)
                                                    {
                                                        <tr>
                                                            <td>@plane.PlaneID</td>
                                                            <td>@plane.PlaneModel</td>
                                                            <td>@plane.Capacity</td>
                                                            <td><span class="tag tag-success">@plane.YearProduction</span></td>
                                                            <td>
                                                                <button type="button" class="btn btn-danger">
                                                                    <a style="color: white" asp-controller="Plane" asp-action="Delete" asp-route-planeId="@plane.PlaneID">
                                                                        <i class="fa-solid fa-trash-can"></i>
                                                                        Delete
                                                                        </a>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                @* <div class="row justify-content-end d-flex align-items-center " style="margin:0">
                                    <div class="col-md-4 justify-content-end d-flex mt-4">
                                        <a asp-controller="Admin" asp-action="Index">
                                            <button type="submit class="btn btn-secondary ms-1">Cancel</button>
                                        </a>
                                        <button type="submit" class="btn  ms-1 btn-update">Delete All</button>
                                    </div>
                                </div> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.container-fluid -->
</section>