@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model WebProject.Models.ListWithSeat;

<style>
    .btn-update {
        color: white;
        background-color: var(--red-color);
    }

        .btn-update:hover {
            color: white;
            background-color: #dc3545;
        }
</style>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4 class="m-0 pb-1">Registration Number</h4>
                <h5 class="m-0 text-danger">N12345 </h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <a asp-controller="Seat" asp-action="Create" >
                        <li class="breadcrumb-item text-primary">Plane</li>
                    </a>
                    <li class="breadcrumb-item text-primary"></li>
                    <li class="breadcrumb-item active">Update & Delete</li>
                </ol>
            </div>
            <!-- /.col -->
            <div class="col-12">
                <div class="card card-default mt-5">
                    <div class="table-responsive">
                        <table class="table table-head-fixed text-nowrap m-0">
                            <thead>
                                <tr>
                                    <th style="background-color: #19283f">Seat Number</th>
                                    <th style="background-color: #19283f">Seat Type</th>
                                    <th style="background-color: #19283f">Reservation Status</th>
                                    <th style="background-color: #19283f">Seat Price</th>
                                    <th style="background-color: #19283f">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var seat in Model.SeatList)
                                {
                                    // set a class type of user
                                    string classType = "", newColor = "";
                                    if (seat.SeatType == 0)
                                    {
                                        classType = "Economy";
                                        newColor = "#5DADE2";

                                    }
                                    else if (seat.SeatType == 1)
                                    {
                                        classType = "Business";
                                        newColor = "#2ECC71";

                                    }
                                    else if (seat.SeatType == 2)
                                    {
                                        classType = "First";
                                        newColor = "#FF6347";
                                    }

                                    <tr>
                                        <td>@seat.SeatNumber</td>
                                        <td style="font-weight: bold; color: @newColor">@classType</td>
                                        <td>@seat.ReservationStatus</td>
                                        <td><span class="tag tag-success">$@seat.Price</span></td>
                                        <td>
                                            <a onclick="editSeat('@seat.SeatID', '@seat.SeatNumber', '@seat.SeatType', '@seat.ReservationStatus', '@seat.Price', '@seat.PlaneId')">
                                                <i class="fa-regular fa-pen-to-square text-success pe-2" data-toggle="modal" data-target="#modal-default" style="cursor: pointer"></i>
                                            </a>
                                            <a asp-controller="Seat" asp-action="Delete" asp-route-seatId="@seat.SeatID">
                                                <i class="fa-solid fa-trash-can text-danger" style="cursor: pointer"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade pe-0" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" asp-controller="Seat" asp-action="Update">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Seat Information
                                <i class="fa-solid fa-circle-info" style="font-size: 18px; color: #33d1cc"></i>
                            </h4>
                            <input asp-for="Seat.SeatID" id="modal-id" type="hidden" />
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="margin:0">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Seat.PlaneId" class="small mb-1">Plane ID</label>
                                        <input asp-for="Seat.PlaneId" class="form-control" id="modal-planeId" style="width: 100%;" type="text" readonly />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Seat.SeatNumber" class="small mb-1">Seat Number</label>
                                        <input asp-for="Seat.SeatNumber" id="modal-seat-number" class="form-control" type="text" readonly />
                                    </div>
                                    <div class="form-group">
                                        <label  asp-for="Seat.SeatType" class="small mb-1">Seat Type</label>
                                        <select asp-for="Seat.SeatType" id="modal-seat-type" class="form-control select2" style="width: 100%;" onchange="updatePrice()">
                                            <option value="0">Economy</option>
                                            <option value="1">Business</option>
                                            <option value="2">First</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label  asp-for="Seat.ReservationStatus" class="small mb-1">Reservation Status</label>
                                        <select asp-for="Seat.ReservationStatus" id="modal-reservation-status" class="form-control select2" style="width: 100%;" onchange="updatePrice()">
                                            <option value="0" >False</option>
                                            <option value="1" >True</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Seat.Price" class="small mb-1">Seat Price</label>
                                        <input asp-for="Seat.Price" id="modal-price" class="form-control" type="text" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-update">Update Seat</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
    </div>
    <!-- /.container-fluid -->
</div>

<script>

    // Update modal content with the clicked seat data
    function editSeat(seatID, seatNumber, seatType, reservationStatus, price, planeId) {
        

        // Set true OR false
        if (reservationStatus === "True" || reservationStatus === "true") {

            reservationStatus = "1";
            $('#modal-reservation-status').css('color', '#007bff');
            $('#modal-reservation-status').val(reservationStatus);
        }
        else {
            reservationStatus = "0"
            $('#modal-reservation-status').css('color', '#dc3545');
            $('#modal-reservation-status').val(reservationStatus);
        }

        // Sending other values to thier tags
        $('#modal-seat-number').val(seatNumber);
        $('#modal-seat-type').val(seatType);
        $('#modal-price').val(price);
        $('#modal-id').val(seatID);
        $('#modal-planeId').val(planeId);
    }

    // set price by classtype
    function updatePrice() {
        var selectedOption = document.getElementById("modal-seat-type").value;
        var price = 0;

        switch (selectedOption) {
            case "0":
                price = 125;
                break;
            case "1":
                price = 250;
                break;
            case "2":
                price = 500;
                break;
            default:
                price = 0;
                break;
        }

        document.getElementById("modal-price").value = price;
    }
</script>

