@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model WebProject.Models.ListWithAirport;

<style>
    .btn-update {
        color: white;
        background-color: var(--red-color);
    }

    .btn-update:hover {
        color: white;
        background-color: #dc3545;
    }
</style>

<section class="content pt-4">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-sm-6">
                <h2 class="m-0 pb-1">@ViewData["Airport Mangement" ] </h2>
                <h5 class="m-0" style="color: #77777778"> @ViewData[ "Adding, Updating Airports"]</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right" style="background-color: #f4f6f9;">
                    <a asp-controller="Airport" asp-action="Create">
                    <li class="breadcrumb-item text-primary">@ViewData["Havaalanı"]</li>
                    </a>
                    <li class="breadcrumb-item text-primary"></li>
                    <li class="breadcrumb-item active">@ViewData[ "Update & Delete" ]</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fa-solid fa-circle-info"></i> Note:</h5>
                    Exercise caution when utilizing the "Update and Delete" functionalities on the airport management page.
                    Ensure accuracy in updates and double-check details before deletion, as these actions are irreversible.
                </div>
            </div>
            <div class="col-12">
                <div class="card card-default mt-3">
                    <div class="card-header">
                        <h3 class="card-title">@ViewData[ "Newly Added Airports" ]</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <button type="button" class="btn btn-update float-right" data-toggle="modal" data-target="#modal-default" style="font-size: 100%">
                                    <i class="fas fa-plus"></i>@ViewData[ "Add an Airport" ]
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-head-fixed text-nowrap m-0">
                            <thead>
                                <tr>
                                    <th style="background-color: #19283f">@ViewData["IATA Code" ]</th>
                                    <th style="background-color: #19283f">@ViewData["Airport Name"]</th>
                                    <th style="background-color: #19283f">@ViewData["City Of Airport"]</th>
                                    <th style="background-color: #19283f">@ViewData["Country Of Airport"]</th>
                                    <th style="background-color: #19283f">@ViewData["Adjustment"]</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var airport in Model.Airports)
                                {
                                    <tr>
                                        <td>@airport.IATACode</td>
                                        <td>@airport.AirportName</td>
                                        <td>@airport.CityOfAirport</td>
                                        <td>@airport.CountryOfAirport</td>
                                        <td>
                                            <i class="fa-solid fa-eye text-primary" style="cursor: pointer"></i>
                                            <a onclick="editAirport('@airport.AirportID', '@airport.IATACode', '@airport.AirportName', '@airport.CityOfAirport', '@airport.CountryOfAirport')">
                                                <i class="fa-regular fa-pen-to-square text-success ps-2 pe-2" data-toggle="modal" data-target="#modal-primary" style="cursor: pointer"></i>
                                            </a>
                                            <a asp-controller="Airport" asp-action="Delete" asp-route-airportId="@airport.AirportID" >
                                                <i class="fa-solid fa-trash-can text-danger" style="cursor: pointer"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" asp-controller="Airport" asp-action="Create">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Adding a New Airport
                                <i class="fa-solid fa-circle-info" style="font-size: 18px; color: #33d1cc"></i>
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="row" style="margin:0">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Airport.IATACode" class="small mb-1">@ViewData[ "IATA Code"] (This section optional)</label>
                                        <input asp-for="Airport.IATACode" class="form-control" type="text" value="LHR" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Airport.AirportName" class="small mb-1">@ViewData[ "Airport Name"]</label>
                                        <input asp-for="Airport.AirportName" class="form-control" type="text" />
                                        <span asp-validation-for="Airport.AirportName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Airport.CityOfAirport" class="small mb-1">@ViewData[ "City Of Airport"]</label>
                                        <input asp-for="Airport.CityOfAirport" class="form-control" type="text" />
                                        <span asp-validation-for="Airport.CityOfAirport" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1">@ViewData[ "Reservation Status"]</label>
                                        <select  id="ticketClass" class="form-control select2 text-danger" style="width: 100%;" disabled >
                                            <option value="0" selected>False</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Airport.CountryOfAirport" class="small mb-1">@ViewData[ "Country Of Airport"]</label>
                                        <input asp-for="Airport.CountryOfAirport" class="form-control" type="text" />
                                        <span asp-validation-for="Airport.CountryOfAirport" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@ViewData[ "Close"]</button>
                            <button type="submit" id="addToPlaneButton" class="btn btn-update">@ViewData[ "Add Airport"]</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="modal-primary">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" asp-controller="Airport" asp-action="Update">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Airport Information
                                <i class="fa-solid fa-circle-info" style="font-size: 18px; color: #33d1cc"></i>
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input asp-for="Airport.AirportID" id="modal-airport-id" type="hidden" />
                            <div class="row" style="margin:0">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Airport.IATACode" class="small mb-1">@ViewData[ "IATA Code"]</label>
                                        <input asp-for="Airport.IATACode" id="modal-IATACode" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Airport.AirportName" class="small mb-1">@ViewData[ "Airport Name"]</label>
                                        <input asp-for="Airport.AirportName" id="modal-name" class="form-control" type="text" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Airport.CityOfAirport" class="small mb-1">@ViewData[ "City Of Airport"]</label>
                                        <input asp-for="Airport.CityOfAirport" id="modal-city" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1">@ViewData[ "Reservation Status"]</label>
                                        <select id="ticketClass" class="form-control select2 text-danger" style="width: 100%;" disabled>
                                            <option value="0" selected>False</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Airport.CountryOfAirport" class="small mb-1">@ViewData[ "Country Of Airport"]</label>
                                        <input asp-for="Airport.CountryOfAirport" id="modal-country" class="form-control" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@ViewData[ "Close"]</button>
                            <button type="submit" id="addToPlaneButton" class="btn btn-update">@ViewData[ "Update Airport"]</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    // Update modal content with the clicked seat data
    function editAirport(airportID, IATACode, airportName, city, country) {

        // Sending other values to thier tags
        $('#modal-airport-id').val(airportID);
        $('#modal-IATACode').val(IATACode);
        $('#modal-name').val(airportName);
        $('#modal-city').val(city);
        $('#modal-country').val(country);
    }
</script>
